<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Home of Stories</title>
  </head>
  <body>
    <header>
        <a href="/">The Home of Stories</a>
        <a href="/books">books</a>
        <a href="/books/new">Add Book</a>
    </header>
    <h2>Search Books</h2>
    <form action="/books" method="GET">
      <label for="title">Title</label>
      <input type="text" name="title" value="<%=searchOptions.title%>">
      <label for="publishedAfter">Published After</label>
      <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter%>">
      <label for="publishedBefore">Published Before</label>
      <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore%>">
      <button type="submit" name="button">Search</button>
    </form>
    <br>
  </body>
    <ul>
      <% for(let i = 0; i < books.length; i++) { %>
        <li>
          <a href="/books/<%= books[i].id %>"> <%= books[i].name %>
            <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
          </a>
        </li>
    <% } %>
    </ul>
  </body>
</html>
