<%- include('../partials/header.ejs') %>
    <h2>Search Books</h2>
    <form action="/books" method="GET">
      <label for="title">Title</label>
      <input type="text" name="title" value="<%=searchOptions.title%>">
      <label for="publishedAfter">Published After</label>
      <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter%>">
      <label for="publishedBefore">Published Before</label>
      <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore%>">
      <button type="submit" name="button">Search</button>
    </form>
    <br>
  </body>
    <ul>
      <% for(let i = 0; i < books.length; i++) { %>
        <li>
          <a href="/books/<%= books[i].id %>"> <%= books[i].name %>
            <img class="book-cover" src="<%= books.coverImagePath %>">
          </a>
        </li>
    <% } %>
    </ul>
  </body>
</html>
