<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div class="inner-container">
    <h2 class="page-header">Search Directors</h2>
    <form action="/directors" method="GET">
    <div class="form-row">
      <div class="form-item">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%=searchOptions.name%>">
      </div>
    </div>
    <div class="form-row form-row-end">
      <button class="btn btn-primary" type="submit" name="button">Search</button>
    </div>
    </form>
    <br>
    <% directors.forEach(director => { %>
  <div class="author-row">
    <div class="author-name"><%= director.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/directors/<%= director.id %>">View</a>
      <a class="btn btn-primary" href="/directors/<%= director.id %>/edit">Edit</a>
      <a class="btn btn-primary btn-delete" href="/movies/new">Add Movie</a>
    </div>
  </div>
<% }) %>
  </body>
</html>
