<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
    <div class="inner-container inner-show">
      <h2 class="page-header"><%= director.name %> </h2>
      <div class="btn-row2">
        <a class="btn btn-primary btn-show-edit" href="/directors/<%= director.id %>/edit">Edit</a>
        <a class="btn btn-primary btn-delete" href="/movies/new">Add Movie</a>
      </div>
        <h2 class="page-header">Movies By Director</h2>
        <%- include('../partials/movieGrid', { movies: moviesBydirector }) %>
    </div>
  </body>
</html>
