<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div class="inner-container">
    <h2 class="page-header">Edit Author</h2>
    <form method="POST" action="/authors/<%= author.id %>?_method=PUT">
      <div class="form-row">
        <div class="form-item">
          <label for="name">Name:</label>
          <input id="name" type="text" name="name" value="<%= author.name %>">
        </div>
      </div>
      <div class="form-row form-row-end btn-row">
        <a class="btn btn-delete" href="/authors/<%= author.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
  </body>
</html>
