<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div class="inner-container">
    <h2 class="page-header">Search Authors</h2>
    <form action="/authors" method="GET">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%=searchOptions.name%>">
      <button type="submit" name="button">Search</button>
    </form>
    <br>
      <% for(let i = 0; i < authors.length; i++) { %>
        <div> <%= authors[i].name %> </div>
          <a class="btn btn-primary" href="/authors/<%= authors[i].id %>"> View </a>
          <a class="btn btn-primary" href="/authors/<%= authors[i].id %>/edit"> Edit </a>
        <%- include('../partials/deleteForm.ejs', {url: `/authors/${authors[i].id}`}) %>
    <% } %>
  </div>
  </body>
</html>
